.container {
    text-align: center;
    width: 100%;
    height: 90vh;
}

.text {
    font-size: 50px;
    font-weight: bold;
    color: rgb(244, 117, 13);
}

.card {
    display: inline-block;
    width: 32%;
    height: 550px;
    background-color: #cccaca;
    margin-left: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
}

.card_img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.card_title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(244, 117, 13);
    margin-top: 10px;
}

.card_text {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_btn {
    background-color: rgb(244, 117, 13);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card_btn:hover {
    background-color: rgb(192, 90, 6);
    color: white;
}